body{
    font-family: 'Roboto', sans-serif;
}
#col-left{
    width: 60px;
    height: 100vh;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}
#col-right{
    width: calc(100% - 60px);
    height: 100vh;
    overflow-y: auto;
}
#header-col-right{
    background-color: #1b72e8;
}
#plus_offcanvas{
    color: white;
    border: 1px solid white;
    border-radius: .625rem;
    padding: .3125rem;
}
@media screen and (min-width:992px) {
    #col-left{
    width: 130px;
    }
    #col-right{
     width: calc(100% - 60px);  
    }
}
