body{
    font-family: 'Roboto', sans-serif;
}
#col-left{
    background-color: aqua;
    width: 60px;
}
#col-right{
    background-color: #1b72e8;
    width: calc(100% - 60px);
    overflow-y: auto;
}
#boolean-stats{
    background-color: #1b72e8;
}
@media screen and (min-width:992px) {
    #col-left{
    width: 130px;
    }
    #col-right{
     width: calc(100% - 60px);  
    }
}